.header {
    background-color: orangered;
    padding: 20px 30px;
    color: #fff;
}

.nav a {
    background-color: teal;
    text-decoration: none;
    margin-right: 15px;
    color: #fff;
    padding: 15px 25px;
    border-radius: 7px;
}